:root {
  --i-header-color: #f8ae5b;
  --custom-padding: 0 0.5em;
  --text-title-color: white;
  --button-color: #ef4444;
  --selection-bg: #845ec2;
  --selection-color: white;
}

/* -> Scroll <- */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: var(--i-header-color);
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f8af5bab;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0px;
}

/* -> Select <- */

::-moz-selection {
  color: var(--selection-color);
  background: var(--selection-bg);
}
::selection {
  color: var(--selection-color);
  background: var(--selection-bg);
}

@font-face {
  font-family: 'AurebeshItalic';
  src: url('../assets/fonts/AurebeshItalic.ttf');
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'Rubik', sans-serif;
  background-color: #02021e;
  color: white;
}

/* -> Canvas Three <- */
.webgl {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

main {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  overflow-x: hidden;
}

section {
  min-height: 100vh;
}

img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/* -> Header <- */
.ul__header {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 15;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  font-size: 2em;
  height: 1.3em;
  width: 4em;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.ul__header li a {
  display: flex;
}

.ul__header li a i:hover {
  color: white;
  transition: all 0.5s;
}

.ul__header li a i {
  color: var(--i-header-color);
}

.h2__sectionTitle {
  text-align: center;
  font-size: 6em;
}

/* -> Home <- */
.section__home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div__sectionHome {
  display: grid;
  place-content: center;
  height: 70vh;
  width: 90%;
}

.div__sectionHome p {
  text-align: center;
  font-size: 1.5em;
  margin: 0;
}

.div__sectionHome h1 {
  font-size: 3em;
  text-align: center;
}

.div__sectionHome h2 {
  text-align: center;
  font-size: 1.5em;
}

.bx-down-arrow-alt {
  font-size: 5em;
  margin-bottom: 10px;
  animation: bounce 1s infinite;
  color: white;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

/* -> Custom text <- */
.h2__customFont {
  font-family: 'AurebeshItalic';
  text-align: center;
  font-size: 2em;
  line-height: 5px;
  margin-bottom: 2em;
}

.section__experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* -> Project card <- */
.article__project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-height: 650px;
  color: var(--text-title-color);
  margin: 1em 0;
}

.div__articlDetails {
  padding: var(--custom-padding);
}

.project__outsideLink {
  color: #06b6d4;
}

.div__articleProjectSwiper {
  display: grid;
  place-content: center;
  height: 100%;
  width: 100%;
}

/* -> Featured title <- */
.h3__featuredTitle {
  font-size: 1.5rem;
  font-weight: 300;
}

/* -> Title project <- */
.div__articlDetails h2 {
  font-size: 4.5em;
  font-weight: 500;
}

/* -> Title tag <- */
.div__articlDetails h4 {
  font-size: 2.5em;
  font-weight: 300;
}

.div__articlDetails p {
  text-align: justify;
  font-size: 1.2em;
  margin-bottom: 0;
}

/* -> Links <- */
.div__projectLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2em;
}

.div__projectLinks a:nth-child(1) {
  margin-right: 10px;
}

.div__projectLinks a i {
  color: var(--text-title-color);
}

.swiper {
  width: 600px;
  height: 300px;
}

.h3__otherProjects {
  margin-top: 1em;
  font-size: 2em;
}

/* -> Project card #2 <- */
.div__projectCardContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1em;
  min-height: 50vh;
  width: 98%;
}

.article__projectCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 6px;
  padding: 1em;
  margin: 10px;
  width: 250px;
  min-height: 200px;
  max-height: 200px;
}

.a__linkProject {
  color: white;
}

/* -> Tech  <- */
.div_articleTechContainer,
.div__articleTechItem {
  display: flex;
}

.div_articleTechContainer {
  width: 100%;
}

.div__articleTechItem {
  flex-direction: column;
  align-items: center;
  margin: 20px 5px;
  padding: 0.8em;
}

.div__articleTechItem i {
  font-size: 3em;
}

.div__cardLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div__cardLinks i {
  font-size: 3em;
}

.div__cardLinks div i {
  font-size: 1.5em;
}

.article__projectCard p {
  margin: 0;
  text-align: justify;
}

.div__articleProjectTech {
  display: flex;
  font-size: 13px;
  margin-top: 5px;
}

.div_techContainer--movile {
  display: none;
}

.div__articleProjectTech p {
  margin-right: 10px;
}

/* -> About <- */
.section__about p {
  text-align: center;
  padding: var(--custom-padding);
  font-size: 1.5em;
}

/* -> Cat gif <- */
.about__img {
  width: 20px;
}

.div_techContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 2em;
}

.div_techItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;
  padding: 1em;
}

.div_techItem i {
  font-size: 5em;
}

.bxl-django {
  color: #51be95;
}

.bxl-react {
  color: #61dafb;
}

.bxl-redux {
  color: #764abc;
}

.bxl-sass {
  color: #cf649a;
}

.bxl-nodejs {
  color: #689f63;
}

.bxl-vuejs {
  color: #3fb984;
}

.bxl-firebase {
  color: #ffcb2d;
}

.bxl-javascript {
  color: #e9d54c;
}

.bxl-tailwind-css {
  color: #06b6d4;
}

.bxl-docker {
  color: #2496ed;
}

/* -> Modal <- */
.button__modalClose {
  position: absolute;
  top: 1em;
  right: 1em;
  display: grid;
  place-content: center;
  background-color: transparent;
  border: none;
  color: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: 50%;
  padding: 0.5em;
  cursor: pointer;
}

.button__modalClose i {
  font-size: 1.5em;
}

.button__modalClose:hover {
  background-color: var(--button-color);
  transition: 0.5s;
}

.button__modalClose:hover i {
  color: white;
  transition: 0.5s;
}

/* -> Modal container <- */
.section__modal {
  position: absolute;
  z-index: 15;
  top: 0;
  left: 0;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 100vh;
  width: 100vw;
  visibility: hidden;
}

.section__modal--active {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
}

.form__talk {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 2em 1em;
  animation-name: formAnimation;
  animation-duration: 2s;
  border-radius: 10px;
}

@keyframes formAnimation {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.form__talk h3 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}


.form_divInput {
  position: relative;
  border-bottom: 2px solid white;
  margin: 30px 0;
}

.form_divInput input{
  padding: 10px 0;
  outline: none;
}

.form_divInput textarea{
  padding: 10px 0;
  outline: none;
}

.form_divInput label {
  position: absolute;
  top: -10px;
  left: 5px;
  color: white;
}

.form_divInput input,textarea {
  border: none;
  padding: 10px;
  background-color: transparent;
  color: white;
}

.form_divInput textarea {
  resize: vertical;
  max-height: 250px;
  padding: 10px;
}

.form_divInput span::before {
  display: block;
  position: absolute;
  content: '';
  height: 2px;
  width: 0;
  background-color: #06b6d4;
}

.form_divInput input:focus ~ label,
.form_divInput input:valid ~ label {
  top: -16px;
  color: #06b6d4;
  transition: all 0.3s;
}

.form_divInput textarea:focus ~ label,
.form_divInput textarea:valid ~ label {
  top: -16px;
  color: #06b6d4;
  transition: all 0.3s;
}

.form_divInput input:focus ~ span::before,
.form_divInput input:valid ~ span::before {
  width: 100%;
  transition: all 0.3s;
}

.form_divInput textarea:focus ~ span::before,
.form_divInput textarea:valid ~ span::before {
  width: 100%;
  transition: all 0.3s;
}

.button__formTalk {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
}

.button__formTalk:hover {
  background-color: #06b6d4;
  border-color: #06b6d4;
  transition: all 0.3s;
}

/* -> Footer <- */
.section__footer {
  display: grid;
  place-items: center;
  grid-template-rows: 1fr 200px;
}

.section__footer div h2 {
  font-size: 3em;
  text-align: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.footer button {
  display: grid;
  place-content: center;
  height: 40px;
  width: 150px;
  border-radius: 10px;
  margin-bottom: 1em;
  color: inherit;
  background-color: transparent;
  border: 1px solid white;
  font-weight: 100;
  cursor: pointer;
}

.footer ul {
  display: flex;
}

.footer ul li a {
  display: grid;
  place-items: center;
  height: 50px;
  width: 50px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid white;
}

.footer ul li a i {
  color: white;
  font-size: 1.5em;
}

.footer ul li a:hover {
  background-color: white;
  transition: background-color 1s;
}

.footer ul li a:hover i {
  color: var(--i-header-color);
}

/* -> Custom styles <- */

/* -> Click  <- */
.dot {
  position: absolute;
  transform: translate(-30%, -50%);
  background-color: rgba(141, 135, 255, 0.712);
  border-radius: 50%;
  z-index: 15;
  animation: dot 0.5s linear forwards;
  height: 100px;
  width: 100px;
}

@keyframes dot {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    height: 80px;
    width: 80px;
    opacity: 0;
  }
}

.custom__sectionGlass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1em;
  margin: 20px 10px;
}

.custom__softGlass {
  /* From https://css.glass */
  background: rgba(114, 138, 244, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(114, 138, 244, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 780px) {
  /* -> Experience secton <- */
  .h2__sectionTitle {
    font-size: 4em;
  }

  .bx-down-arrow-alt {
    font-size: 4em;
    margin-bottom: 7px;
  }

  /* -> Custom text <- */
  .h2__customFont {
    font-size: 1.4em;
    margin-bottom: 1.5em;
  }

  .article__project {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
    margin: 3em 0;
  }

  .div__articlDetails {
    grid-row-start: 2;
  }

  /* -> Featured title <- */
  .div__articlDetails h3 {
    font-size: 0.7em;
    margin-top: 10px;
  }

  /* -> Title tag <- */
  .div__articlDetails h4 {
    font-size: 1.1em;
  }

  /* -> Project title <- */
  .div__articlDetails h2 {
    font-size: 2.5em;
  }

  .swiper {
    grid-row-start: 1;
    width: 100%;
  }

  .div__projectLinks {
    margin-bottom: 0;
  }

  /* -> Micro card <- */
  .article__projectCard {
    width: 100%;
  }

  /* -> About <- */
  .section__about p {
    text-align: justify;
    font-size: 1.2em;
  }

  /* -> Tech <- */
  .div_techContainer {
    display: none;
  }

  .div_techContainer--movile {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  /* -> Touch <- */
  .section__footer div h2 {
    font-size: 2em;
  }
}

@media screen and (max-width: 480px) {
  /* -> Experience secton <- */
  .h2__sectionTitle {
    font-size: 2.2em;
  }

  /* -> Custom text <- */
  .h2__customFont {
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 0;
  }

  .swiper {
    width: 100%;
  }

  /* -> Featured title <- */
  .div__articlDetails h3 {
    font-size: 0.6em;
  }

  /* -> Title tag <- */
  .div__articlDetails h4 {
    font-size: 1em;
  }

  /* -> Project title <- */
  .div__articlDetails h2 {
    font-size: 2em;
  }

  /* -> Project title <- */
  .div__articlDetails p {
    font-size: 1em;
  }

  .div_articleTechContainer {
    font-size: 12px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .div__articleTechItem {
    margin: 5px;
  }

  .swiper {
    width: 100%;
  }

  .div__projectLinks {
    margin-bottom: 0;
    font-size: 20px;
  }

  /* -> Other projects <- */
  .h3__otherProjects {
    text-align: center;
    font-size: 1.4em;
  }

  /* -> Micro card <- */
  .article__projectCard {
    width: 100%;
  }

  /* -> About <- */
  .section__about p {
    font-size: 1em;
  }

  .div_techItem i {
    font-size: 3em;
  }

  /* -> Touch <- */
  .section__footer div h2 {
    font-size: 1.3em;
  }

  /* -> Footer <- */

  .footer ul li a {
    height: 40px;
    width: 40px;
  }

  .footer ul li a i {
    font-size: 1.3em;
  }

  /* -> Custom glass <- */
  .custom__sectionGlass {
    padding: 1em 10px;
    background: rgba(114, 138, 244, 0.21);
    box-shadow: none;
    border: none;
  }

  .custom__softGlass {
    background: rgba(114, 138, 244, 0.21);
    box-shadow: none;
    border: none;
  }
}
